.alert{
    
    color: white;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 0.8em;

    @mixin background($color, $color-rgb){
        border: 2px solid $color;
        background-color: rgba($color-rgb, 0.7);
    }

    &-primary{
        @include background(var(--primary-color), var(--primary-color-rgb))
    }
    &-secondary{
        @include background(var(--sescondary-color), var(--sescondary-color-rgb))
    }
    &-tertiary{
        @include background(var(--tertiary-color), var(--tertiary-color-rgb))
    }
    &-success{
        @include background(var(--success-color), var(--success-color-rgb))
    }
    &-danger{
        @include background(var(--danger-color), var(--danger-color-rgb))
    }
}
