<footer>
  <div class="container">
    <div id="copyright">&copy; {{year}} WorkPlanner | Cristian Cosano</div>
    <div id="social-networks">
      <a href="https://www.linkedin.com/in/cristiancosano/" target="blank">
        <i class="fa-brands fa-linkedin-in" id="linkedin"></i>
      </a>
      <a href="https://github.com/cristiancosano" target="blank">
        <i class="fa-brands fa-github" id="github"></i>
      </a>
      <a href="https://twitter.com/cristiancosanoc" target="blank">
        <i class="fa-brands fa-twitter" id="twitter"></i>
      </a>
    </div>

  </div>
</footer>
