#card{
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 11px -7px rgb(69, 100, 132, 0.5);
  & h1{
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: #161c2d;
  }
  & time{
    font-size: 0.8em;
    color: lightslategray;
  }
  p{
    font-size: 0.9em;
  }


}

