<form>
  <div class="container">
    <app-alert-default *ngIf="messageError" [message]="messageError"></app-alert-default>
    <div>
      <input type="email" name="email" placeholder="Email" [(ngModel)]="email" (change)="change()" required>
      <div class="error" *ngFor="let message of emailError">{{message}}</div>
    </div>
    <div>
      <input type="password" name="password" placeholder="Password" [(ngModel)]="password" (change)="change()" required>
      <div class="error" *ngFor="let message of passwordError">{{message}}</div>
    </div>
    <app-button-default (click)="login()">Login</app-button-default>
  </div>
</form>
